menu{
    display: block;
    background-color: #b1b1b1;
}
.navbar{
    height: 65px;
    background-color: #b1b1b1;
}


ul.navbar-nav{
    font-size: 24px;
}
.navbar-collapse{
    font-size: 24px;
    background-color: #f8f9fa;
    z-index: 2;
}

.dropdown-menu{
    background-color: #f8f9fa;
}

.carousel{
    position: center;
}

.autor{
    text-align: justify;
}

.oautorze{
    margin-top: 40px;
}

.mainsite{
    width: 1080px;
    position: inherit;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.dmitrijphoto{
    margin-right: 20px;
}

.metro2033{
    position: center;
    display: inline-block;
}
.ometro2033 .ometro2034 .ometro2035{
    text-align: justify;
}

.metro2033foto{
    margin-right: 20px;
}
.metro2034foto{
    margin-right: 20px;
}
.metro2035foto{
    margin-right: 20px;
}
.metrouniverse-row-col{
    display: block;
    text-align: center;
    float: left;
    font-size: 21px;
    padding: 20px;
}
.uniwersum-head{
    text-align: center;
}
.footer{
    position: relative;
    background-color: #b1b1b1;
    text-align: center;
    height: 50px;
    bottom: 0;
    clear: both;
}

.gallery {
    width: 80%;
    margin: 50px auto;
}


.item {
    width: 100%;
}
.logo{
    text-align: center;
    font-size: 30px;
}

.metro-2033-foto{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1080px;
    padding: 30px;
}
.metro-last-light-foto {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1080px;
    padding: 30px;
}
.metro-exodus-foto{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1080px;
    padding: 30px;
}

.ometr_oll{
    column-count: 2;
}
.ometro_ex{
    column-count: 2;
}
.ometro_2033{
    column-count: 2;
}

.mapa-img{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
}

.zalog{
    left: 390px;
    position: relative;
}

.zareje{
    left: 390px;
    position: relative;
}

.zarejestrujsie{
    right: 20px;
}

#registerform{
    position: relative;
    left: 70px;
}

.zaloginfo{
    text-align: center;
}

.powitanie{
    text-align: center;
}